@import "variables";

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: unset;
    padding: unset;
}

a {
    text-decoration: none !important;
}

p {
    font-size: .9rem;
    color: gray;
}

body {
    background-color: #11151a;
    text-align: center;
    font-family: "Quicksand";
    background-image: url("../images/brickbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    overflow-x: hidden !important;
}

ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #FF2765;
    font-weight: bold;
    font-family: "Quicksand";
}

* {
    color: white;
}

.terms {
    display: none;
    width: 350px;
    padding: 50px 0 20px 0;
    background-color: #111;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    z-index: 290;
    transition: all .5s ease-in-out;
    &__list {
        width: 85%;
        margin-left: 7.5%;
        & li {
            margin: 25px 0;
        }
    }
}

.showTerms {
    transition: all .5s ease-in-out;
    display: block;
    top: 50%;

}

.final {
    padding-bottom: 30px;
}

.okay {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #FF2765;
    border-radius: 2px;
    &:hover {
        background-color: rgb(134, 24, 55);
    }
}

input, button, optgroup, select, textarea {
    color: black;
}

.sep {
    color: rgb(130, 242, 252);
}

.loader {
    background-color:#04060A;
    z-index: 300;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    &__logo {
        position: absolute;
        height: 100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

nav {
    width: 100%;
    // background-color: #FF2765;
    top: 0;
    font-family: "Cocogoose";
    font-weight: 100;
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: 1.5px;
    z-index: 10;
    position: absolute;
    top: 0;
    & ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 20px;
    }
    & li {
        color: white;
        margin: 15px;
        cursor: pointer;
        padding-bottom: 7.5px;
        &.closed {
            text-decoration: line-through;
            position: relative;
            & .comingsoon {
                background-color: #FF2765;
                padding: 10px 15px;
                border: unset;
                text-decoration: none !important;
                position: absolute;
                top: 30px;
                left: -23px;
            }
        }
        &:hover {
            // color: #FF2765 !important;
            // border-bottom: 2px solid #FF2765;
        }
    }
}

.hovertext:hover {
    transition: all .2s ease-in-out;
    color: #FF2765;
}

.form__box {
    width: 150px;
    height: 35px;
    display: inline-block;
    background-color: #d32758;
    margin-top: 15px;
    /* border-radius: 25px; */
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: unset;
    border-radius: 50px;
    text-align: center;
    font-size: .8rem;
    &::placeholder {
        color: #ccc;
    }
}

.mobile__ul {
    background-color: #15191F;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 25;
    border-radius: 2px;
    cursor: pointer;
    display: none;
}

.nav {
    &__footer {
        padding: unset;
        margin: unset;
        margin-top: 25px;
    }
    &__calendar {
        padding: 10px;
        background-color: #FF2765;
        border-radius: 5px;
    }
}

.mobile__nav {
    width: 100%;
    height: 60px;
    background-color: #11151a;
    box-shadow: 0 -2px 3px rgba(0,0,0,0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 300;
    &-icon { 
        height: 17px;
        display: block;
        margin: auto;
        margin-bottom: 5px;
    }
    & ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
        font-size: .8rem;
    }
}

.burger__menu {
    width: 100%;
}

.mobile__menu-slide {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0, .9);
    right: -100%;
    z-index: 299;
    transition: all .3s ease-in-out;
}

.mobile__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & li {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all .2s ease-in-out;
        &:hover {
            color: #FF2765;
        }
    }
}

.slideThrough {
    right: 0;
}

.header {
    // padding-top: 20rem;
    width: 80%;
    margin: auto;
    height: 100vh;
    position: relative;
    &__head {
        font-family: "Mont";
        text-transform: uppercase;
    }
    &__both {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding-top: 50px;
    }
    &__right {
        display: none;
    }
    & p {
        margin: 20px 0 30px 0;
        color: white;
    }
}

.logo {
    width: 75px;
    margin-bottom: 20px;
    &__desktop {
        height: 40px;
        position: absolute;
        left: 30px;
        top: 30px;
    }
}

.social {
    height: 20px;
    margin: 40px 5px 0 5px;
}

.social__list {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.twitter__button {
    display: inline-block;
    border-radius: 25px;
    // padding: 12px 25px;
    & a {
        color: white;
        text-decoration: none;
        width: 100%;
        height: 100%;
    }
    & .couponLink {
        text-align: left;
        font-size: 12px !important;
        color: rgb(139, 9, 46) !important;
        padding: 10px 0 !important;
    }
    & .couponLink:hover {
        transition: all .2s ease-in-out;
        color: #FF2765 !important;
    }
}

.join__button:hover {
    transition: all .2s ease-in-out;
    background-color: rgb(150, 25, 60) !important;
}

.lp5706722144681984:hover {
    transition: all .2s ease-in-out;
    background-color: rgb(150, 25, 60) !important;
}

.join__button {
    margin: auto !important;
}

.twitter__button .couponLink {
    margin: auto !important;
    text-align: center;
}

.hero {
    width: 80%;
    animation: float 10s ease-in-out infinite !important;
}

section {
    padding: 80px 0 80px 0;
}

.section__header {
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-family: "Mont";
}

.down {
    &__arrow {
        width: 20px;
        margin-top: 50px;
        cursor: pointer;
    }
}

.features {
    &__tile {
        background-color: rgba(0, 0, 0, .65);
        border: 1px solid rgb(75, 120, 124);
        border-radius: 2px;
        min-height: 200px;
        width: 80%;
        text-align: center;
        display: block;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        box-shadow: 3px 3px 10px #222;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.035);
            border: 1px solid #B5F8FE;
            box-shadow: 5px 5px 15px black;
        }
        &-img {
            height: 50px;
            margin-bottom: 10px;
        }
        &-center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
        }
        & h2 {
            margin-bottom: 10px;
            font-size: 1.15rem;
        }
        &-list {
            list-style-type: none;
            & li {
                // margin: 15px 0;
            }
        }
    }
}

.extras {
    background-color: rgba(27, 33, 41, .85);
    &__tile {
        position: relative;
        background-color: rgba(27, 33, 41, 1);
        transition: all .3s ease-in-out;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 7px 7px 25px #111;
        }
        & h2 {
            font-family: "Quicksand";
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 1.25rem;
        }
        border-radius: 5px;
        width: 85%;
        border-left: 3px solid #FF2765;
        padding: 30px 0;
        margin: 20px 0;
        margin-left: 7.5%;
        text-align: left;
        vertical-align: top;
        box-shadow: 2px 2px 20px #111;
        &-icon {

        }
        &-content {
            padding: 25px;

        }
    }
}

.faq {
    &__tile {
        border: 1px solid #11151a;
        background-color: #11151a;
        padding: 20px 25px;
        width: 60%;
        margin: auto;
        border-radius: 2px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        height: auto;
        overflow: hidden;
        color: gray;
        transition: all .2s ease-in-out;
        color: white;
        &:hover p {
            transition: all .2s ease-in-out;
            color: white;
        }
    }
    &__para {
        // padding: 30px 25px;
        width: 100%;
        line-height: 25px;
        transition: all .3s ease;
        cursor: unset;
        max-height: 0;
        opacity: 0;
    }
}

.revealFaq {
    padding: 30px 0 15px 0;
    opacity: 1;
    visibility: visible;
    max-height: 1000px;
}

.footer {
    background-color: rgb(27, 33, 41);
    margin-top: 50px;
    height: 150px;
    position: relative;
    text-align: center;
    &__contact {
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 17px;
        background-color: #FF2765;
        display: inline-block;
        box-shadow: 0 0 7px #111;
        transition: all .3s ease-in-out;
    }
    a {
        text-decoration: none;
    }
}

.copyright {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .8rem;
    color: #FF2765;
}

@font-face {
    font-family: "Cocogoose";
    src: url("../fonts/Cocogoose\ Pro-trial.ttf");
}

@font-face {
    font-family: "Mont";
    src: url("../fonts/Mont-HeavyDEMO.otf");
}

.animate__fadeIn {
    display: block;
}

.hidden {
    height: 0;
    
}

@media only screen and (min-width: 525px) {
    .features__tile {
        width: 410px;
    }
}

@media only screen and (min-width: 545px) {
    .header p {
        width: 425px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 590px) {
    .extras__tile {
        width: 489px;
        display: block;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 880px) {
    .features__tile {
        display: inline-block;
        margin: 10px;
    }
    .extras__tile {
        display: inline-block;
        margin: 10px;
    }
    .faq__tile {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin: 5px;
    }
}

.mobile__nav {
    display: none;
}

@media only screen and (max-width: 960px) {
    // .desktop__ul {
    //     display: none;
    // }
    .mobile__ul {
        display: block;
    }
}

@media only screen and (min-width: 961px) {
    .mobile__menu-slide {
        display: none;
    }
}

@media only screen and (min-width: 1150px) {
    .join__button {
        margin: unset !important;
    }
    .twitter__button .couponLink {
        margin: 5px 0 0 0 !important;
        text-align: left;
    }
    .couponForm {
        margin: 10px 0 0 0 !important;
    }
    .header {
        & .logo {
            display: none;
        }
        &__left {
            text-align: left;
        }
        &__right {
            display: inline-block;
            text-align: right;
        }
        & p {
            margin: unset;
            margin-top: 20px;
            margin-bottom: 30px;
        }
    }
    .hero {
        width: 80%;
    }
    .both__side {
        width: 45%;
        display: inline-block;
        vertical-align: middle;
    }
}

@media only screen and (min-width: 1375px) {
    .faq__tile {
        width: 408px;
    }
}

.hidden {
    display: none;
}

.tos {
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        color: #B5F8FE;
    }
}

@media only screen and (min-width: 1555px) {
    .extras__contain {
        width: 1540px;
        margin: auto;
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


/***CALENDAR**/

.active__tab {
    color: #FF2765;
}
.calendar__gallery {

}

.calendar {
    &__contain {
        margin-top: 150px;
        margin-bottom: 75px;
        & .header__head {
            margin-bottom: 30px;
        }
    }
    &__tile {
        height: 275px;
        width: 275px;
        margin: 2%;
        background-color: white;
        position: relative;
        display: inline-block;
        vertical-align: top;
        transition: all .3s ease-in-out;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 3px 3px 5px black;
        }
        & .date {
            color: white;
            font-weight: bold;
            padding: 5px;
            background-color: #FF2765;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 5px;
        }
        & .name {
            // color: white;
        }
    }
    &__right {
        width: 80%;
        margin-left: 10%;
        height: 33%;
        padding-top: 15px;
        text-align: left;
        position: absolute;
        bottom: -20px;
        padding-bottom: 20px;
    }
    &__left {
        width: 100%;
    }

}

.sneaker {
    width: 80%;
    padding-top: 20px;
}